.load-filme {
    height: calc(100vh - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalhes {
    padding: 2rem 0;
    min-height: calc(100vh - 5rem);
    background-size: cover;
    background-position: 50% 10%;
    background-repeat: no-repeat;
}

.detalhes .container {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    color: #F9F9F9;
}

.detalhes .container .home {
    max-width: 6.125rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    color: #F9F9F9;
}

.detalhes .container .home span {
    display: inline-block;
    background-color: rgba(249, 249, 249, 0.2);
    border-radius: 1rem;
    padding: 0.75rem 0.875rem;
    font-size: 1.125rem;
}

.detalhes-film {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}

.detalhes-info {
    display: flex;
    flex-direction: column;
}

.detalhes-info h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1.25rem;
    line-height: 1.2;
}

.genres {
    margin-bottom: 0.5rem;
}

.sinopse {
    max-width: 40.625rem;
    margin: 1.25rem 0 2rem;
}

.sinopse p {
    font-size: 1.125rem;
    line-height: 1.3;
}

.detalhes-info h2 {
    margin-bottom: 1rem;
}

.detalhes-btn {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.detalhes-btn a,
.detalhes-btn button {
    padding: 1.125rem 1.5rem;
    border: none;
    border-radius: 1rem;
    display: inline-block;

    font-size: 1.125rem;
    font-weight: 700;
}

.detalhes-btn a {
    background-color: #F8B319;
    color: #000000;
}

.detalhes-btn button {
    background-color: rgba(249, 249, 249, 0.2);
    backdrop-filter: blur(10px);
    color: #F9F9F9;
    cursor: pointer;

    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.detalhes .container img {
    max-height: 28.125rem;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

@media (max-width: 64rem) {
    .detalhes .container {
        row-gap: 1.5rem;
    }

    .detalhes-info h1 {
        font-size: 2.25rem;
    }

    .sinopse {
        max-width: 32.5rem;
    }

    .sinopse p {
        font-size: 1rem;
    }

    .detalhes-btn a,
    .detalhes-btn button {
        padding: 1rem 1.375rem;
    }

    .detalhes .container img {
        max-width: 17.5rem;
    }
}

@media (max-width: 56.75rem) {
    .detalhes .container img {
        max-width: 13.75rem;
        max-height: 21.25rem;
    }
}

@media (max-width: 48rem) {
    .detalhes .container img {
        display: none;
    }
}

@media (max-width: 26.4375rem) {
    .detalhes-info h1 {
        font-size: 2rem;
    }
}

@media (max-width: 23.8125rem) {
    .detalhes-info h1 {
        font-size: 1.75rem;
    }
}