.load-filme {
    height: calc(100vh - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalhes {
    padding: 2rem 0;
    min-height: calc(100vh - 80px);
    background-size: cover;
    background-position: 50% 10%;
    background-repeat: no-repeat;
}

.detalhes .container {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    color: #F9F9F9;
}

.detalhes .container .home {
    max-width: 98px;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    color: #F9F9F9;
}

.detalhes .container .home span {
    display: inline-block;
    background-color: rgba(249, 249, 249, 0.2);
    border-radius: 1rem;
    padding: 12px 14px;
    font-size: 18px;
}

.detalhes-film {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}

.detalhes-info {
    display: flex;
    flex-direction: column;
}

.detalhes-info h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1.25rem;
    line-height: 1.2;
}

.genres {
    margin-bottom: 0.5rem;
}

.sinopse {
    max-width: 650px;
    margin: 1.25rem 0 2rem;
}

.sinopse p {
    font-size: 18px;
    line-height: 1.3;
}

.detalhes-info h2 {
    margin-bottom: 1rem;
}

.detalhes-btn {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.detalhes-btn a,
.detalhes-btn button {
    padding: 18px 24px;
    border: none;
    border-radius: 1rem;
    display: inline-block;

    font-size: 18px;
    font-weight: 700;
}

.detalhes-btn a {
    background-color: #F8B319;
    color: #000000;
}

.detalhes-btn button {
    background-color: rgba(249, 249, 249, 0.2);
    backdrop-filter: blur(10px);
    color: #F9F9F9;
    cursor: pointer;

    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.detalhes .container img {
    max-height: 450px;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .detalhes .container {
        row-gap: 1.5rem;
    }

    .detalhes-info h1 {
        font-size: 2.25rem;
    }

    .sinopse {
        max-width: 520px;
    }

    .sinopse p {
        font-size: 16px;
    }

    .detalhes-btn a,
    .detalhes-btn button {
        padding: 16px 22px;
    }

    .detalhes .container img {
        max-width: 280px;
    }
}

@media (max-width: 908px) {
    .detalhes .container img {
        max-width: 220px;
        max-height: 340px;
    }
}

@media (max-width: 768px) {
    .detalhes .container img {
        display: none;
    }
}

@media (max-width: 423px) {
    .detalhes-info h1 {
        font-size: 2rem;
    }
}

@media (max-width: 381px) {
    .detalhes-info h1 {
        font-size: 1.75rem;
    }
}