.loading, .search_erro {
    text-align: center;
    margin-top: 2.5rem;
    color: #F9F9F9;
}

.search_erro {
    margin: 0 0 4rem;
}

.slide-item {
    height: 30rem;
    border-radius: 1.25rem;
    overflow: hidden;
    position: relative;
}

.slide-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.45);
    object-position: 50% 5%;
}

div.swiper-button-prev::after,
div.swiper-button-next::after {
    color: #F9F9F9;
    font-size: 2rem;
}

span.swiper-pagination-bullet {
    background-color: #F9F9F9;
}

span.swiper-pagination-bullet-active {
    background-color: #F8B319;
}

.slide-detalhes {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 999;
    color: #F9F9F9;
}

.slide-detalhes h2 {
    font-size: 3rem;
    font-weight: 900;
    margin: 0.75rem 0 2.5rem;
}

.slide-detalhes a {
    padding: 1.125rem 1.5rem;
    border-radius: 1rem;
    display: inline-block;

    font-size: 1.125rem;
    font-weight: 700;
}

.slide-detalhes .btn-detalhes {
    background-color: #F8B319;
    color: #000000;
    margin-right: 0.75rem;
}

.slide-detalhes .btn-trailer {
    background-color: rgb(249, 249, 249, 0.2);
    backdrop-filter: blur(10px);
    color: #F9F9F9;
    margin-left: 0.75rem;
}

form {
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

form label {
    width: 50%;
    background-color: #21242D;
    border-radius: 0.75rem;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

form .search {
    flex: 1;
    padding: 0 0.5rem;
    background-color: #21242D;
    border: none;
    outline: none;
    font-size: 1.125rem;
    font-weight: 400;
    color: rgba(249, 249, 249, 0.7);
}

.search-icon {
    color: #AEAFB2;
    font-size: 1.5rem;
}

.lista-filmes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 2rem;
    row-gap: 2rem;
}

article {
    max-width: 18%;
    height: 26.125rem;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}

article > a {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    position: relative;
}

.vote {
    background-color: #F8B319;
    border-radius: 0 0 0 1rem;
    color: #000000;
    font-weight: 900;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 0;
    right: 0;
}

article img {
    min-width: 100%;
    max-height: 20.625rem;
    object-fit: cover;
}

article strong {
    font-size: 1.375rem;
    font-weight: 600;
    color: #F9F9F9;
}

article p {
    font-size: 0.75rem;
    font-weight: 700;
    color: rgba(249, 249, 249, 0.7);
}

@media (max-width: 64rem) {
    article {
        max-width: 23%;
        height: auto;
    }
}

@media (max-width: 48rem) {

    .slide-item {
        height: 23.75rem;
    }

    .slide-detalhes {
        left: 12%;
    }

    .slide-detalhes h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .slide-detalhes a {
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }

    .slide-detalhes .btn-detalhes {
        margin-right: 0.5rem;
    }

    .slide-detalhes .btn-trailer {
        margin-left: 0.5rem;
    }

    form label {
        width: 70%;
    }

    article {
        max-width: 32%;
    }
}

@media (max-width: 31.25rem) {
    .slide-item {
        height: 21.25rem;
    }

    .slide-detalhes {
        width: 70%;
        top: 60%;
        transform: translateY(-60%);
    }
    .slide-detalhes h2 {
        font-size: 1.625rem;
    }

    .slide-detalhes a {
        padding: 0.75rem 1.375rem;
    }

    div.swiper-button-prev,
    div.swiper-button-next {
        display: none;
    }

    form label {
        width: 100%;
    }

    article {
        max-width: 48%;
    }

    article strong {
        font-size: 1.125rem;
    }
}

@media (max-width: 23.4375rem) {
    .slide-detalhes {
        width: 80%;
    }
}